<meta name="google-adsense-account" content="ca-pub-7245310751285004" />
{{ $cookieCSS := resources.Get "css/cookie-banner.css" }}
{{ if $cookieCSS }}
<link type="text/css" rel="stylesheet" href="{{ $cookieCSS.RelPermalink }}" />
{{ end }}
<script
  src="https://cdn.databuddy.cc/databuddy.js"
  data-client-id="1DL7tse_ZTnMsjrVbv_Bp"
  data-track-outgoing-links="true"
  data-track-interactions="true"
  data-track-engagement="true"
  data-track-scroll-depth="true"
  data-track-web-vitals="true"
  data-track-errors="true"
  data-enable-batching="true"
  crossorigin="anonymous"
  async
></script>
